body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 4.5em;
    margin-block-end: 110px;
}

button {
    padding: 30px 40px;
    font-size: 28px;
    margin: 3px;
    cursor: pointer;
    transition: transform 0.3s;
    border: none;
    border-radius: 5px;
    background-color:red;
    color: white;
}

#respuesta {
    margin-top: 120px;
    font-size: 3.5em;
    color:black;
}

#imagen {
    margin-left: 50px;
    margin-top: 30px;
    display: none;
    max-width: 80%;
    border-radius: 10px;
}